@font-face {
	font-family: 'CircularStd';
	src: url('../fonts/CircularStd-Medium.eot');
	src: local('☺'), url('../fonts/CircularStd-Medium.woff') format('woff'), url('../fonts/CircularStd-Medium.ttf') format('truetype'), url('../fonts/CircularStd-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'CircularStd-Book';
	src: url('../fonts/CircularStd-BookItalic.eot');
	src: local('☺'), url('../fonts/CircularStd-BookItalic.woff') format('woff'), url('../fonts/CircularStd-BookItalic.ttf') format('truetype'), url('../fonts/CircularStd-BookItalic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'CircularStd-Book';
	src: url('../fonts/CircularStd-Book.eot');
	src: local('☺'), url('../fonts/CircularStd-Book.woff') format('woff'), url('../fonts/CircularStd-Book.ttf') format('truetype'), url('../fonts/CircularStd-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CircularStd';
	src: url('../fonts/CircularStd-Bold.eot');
	src: local('☺'), url('../fonts/CircularStd-Bold.woff') format('woff'), url('../fonts/CircularStd-Bold.ttf') format('truetype'), url('../fonts/CircularStd-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
a{
	color: #000000;
}
body{
	font-family: 'CircularStd-Book';
	font-size: 16px;
	/* background: #ca9191; */
}
.header{
	background: url(../img/Hero-bg.png) 0 0 / 100% 110% no-repeat;
}
.header_conteiner{
	max-width: 1330px;
	margin: 0 auto;
}

.menu{
	display: flex;
	justify-content: space-between;
	padding: 45px 0;
}
.logo {
	font-size: 35px;
	color: rgb(255, 255, 255);
	font-weight: 700;
	line-height: 1.143;
	text-align: center;
}
.nav a{
	font-size: 16px;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	padding: 0 18px;	
}
.nav a:focus{
	padding-top: 55px;
	border-top: rgb(255, 255, 255) 2px solid;
}
.nav{
	align-self: center;
	padding: 0 5% 0 0 ;
}
.icon_lang{
	display: flex;
	justify-content: space-between;
	align-self: center;
}
.icon{
	margin-right: 30px ;
}
.icon img{
	padding: 0 11px 0 11px;
}
.lang{
	display: flex;
	text-transform: uppercase;
}
.lang a:focus{
	color: rgb(0, 99, 255);
}
.lang a, p{
	padding: 0 3px;
}

.discuss{
	display: flex;
	justify-content: space-between;
	align-self: center;
}
#discuss_menu-bar{
	padding: 0 0 0 24px;
}
.discuss img, p{
	padding: 0 6px;

}


/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
	border-radius: 50px 0 50px 0;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items:center;

}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.slider .slick-slide{

}

.slider{
	min-width: 0;
	position: relative;
	width: 520px;
	height: 560px;

}
.slider .slick-arrow{
	position: absolute;
	top: 110%;
	font-size: 0;
	width: 44px;
	height: 44px;
	z-index: 10;
}
.slider .slick-prev{
	background: url('../img/slider-arrow_previous.png') 0 0 / 100% no-repeat;
	left: 0px;
}
.slider .slick-next{
	background: url('../img/slider-arrow_next.png') 0 0 / 100% no-repeat;
	right: 0px;
}
.weBuild_dots{
	padding: 18% 2% 0 0;
	align-items: center;
	justify-content: center;
}

.weBuild_dots .slick-dots{
	display: flex;
	flex-direction: column;
	z-index: 10;
}
.weBuild_dots .slick-dots li{
	margin: 10px 30px 10px 0 ;
}
/* Активная точка */
.weBuild_dots .slick-dots li.slick-active button{
	background-color: #fff;
	border-radius: 50%;
}
/* Элемент точки */
.weBuild_dots .slick-dots li button{
	font-size: 0;
	width: 15px;
	height: 15px;
	background-color:transparent;
	border: 1px solid #fff;
	border-radius: 50%;
}

.header_section{
	max-width: 1118px;
	margin: 0 auto;
}
 .subtitle {
	line-height: 1.375;
	font-size: 40px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	padding: 0 0 40px 0;
  }
   .excerpt {
	line-height: 1.375;
	font-size: 21px;
	color: rgb(255, 255, 255);
	padding: 0 0 40px 0;
  }
  .weBuild_button{
	color: #0063ff;
	line-height: 1.375;
	background-color: rgb(255, 255, 255);
	width: 200px;
	height: 62px;
	border-radius: 31px;
  }
  .weBuild{
	padding: 0 50px 0 0 ;
	display: flex;
	flex-direction: column;
	flex: 0 0 50%;
	justify-content: center;
  }
  .section_page{
	padding: 45px 0 140px 0;
	display: flex;
  }

  .client_logo{
	max-width: 1330px;
	max-height: 170px;
	margin: 0 auto;
  }
  .logo_content{
	padding: 45px 0 45px 0;
	display: flex;
	justify-content: space-between;
  }
  .logoCompany{
	width: 10%;
	height: 60px;
	transition-property: all;
	transition-duration: 0.25s;
	transition-delay: 0s;
	transition-timing-function: linear;
}
.logoCompany:hover{
	border-radius: 5px;
	box-shadow: 2.63px 5.393px 19.44px 4.56px rgba(12, 12, 12, 0.5);
}
.Adidas{
	background: url('../img/Logo/adidas_mono.png') 0 0 / 100% 100% no-repeat;
}
.Adidas:hover{
	background: url(../img/Logo/Adidas_logo.png) 0 0 / 90% 90%  no-repeat;
	background-position: 50% 50%;
}
.Acer{
	background: url('../img/Logo/acer_mono.png') 0 0 / 100% 100% no-repeat;
}
.Acer:hover{
	background: url(../img/Logo/Acer_logo.png) 0 0 / 90% 90% no-repeat;
	background-position: 50% 50%;
}
.Citi{
	background: url('../img/Logo/citi_mono.png') 0 0 / 100% 100% no-repeat;
}
.Citi:hover{
	background: url(../img/Logo/Citi_logo_Citibank.png) 0 0 / 90% 90% no-repeat;
	background-position: 50% 50%;
}
.Canon{
	background: url('../img/Logo/canon_mono.png') 0 0 / 100% 100% no-repeat;
}
.Canon:hover{
	background: url(../img/Logo/Canon_logo.png) 0 0 / 90% 90% no-repeat;
	background-position: 50% 50%;
}
.Alipay{
	background: url('../img/Logo/alipay_mono.png') 0 0 / 100% 100% no-repeat;
}
.Alipay:hover{
	background: url(../img/Logo/alipay-logo.png) 0 0 / 90% 90% no-repeat;
	background-position: 50% 50%;
}
.Coca-cola{
	background: url('../img/Logo/coca-cola_mono.png') 0 0 / 100% 100% no-repeat;
}
.Coca-cola:hover{
	background: url(../img/Logo/coca-cola.png) 0 0 / 90% 90% no-repeat;
	background-position: 50% 50%;
} 
.section_mobile{
	max-width: 1118px;
	margin: 0 auto;
}
.desk h2{
	color: #000000;
}
.desk p{
	color: #000000;
}
.button{
	width: 200px;
	height: 62px;
	border-radius: 31px;
	color: #fff;
	background: #0063ff;
}
.desk{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 0 0 50%;
}
.section_mobile_content{
	display: flex;
}
.section_img{
	margin: 0 200px 0 0  ;
}
.MobileApp{
	margin: 90px 0;
	background: url('../img/mobilebag.png') 0 0  no-repeat;
}